.task {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.6em;
  margin: 0.5em 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  background: rgb(255, 35, 134);
  border-radius: 5px;
  margin: 0px 8px;
  padding: 3px 6px;
  border: none;
  cursor: pointer;
  color: white;
  float: right;
  font-size: 16px;
}
#completed {
  color: green;
  text-decoration: line-through;
}
.removeTask {
  width: 25px;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 31%;
}
