.todo_container {
  background: rgb(34, 32, 32);
  width: 41vw;
  margin: 10em auto;
  border-radius: 11px;
  padding: 20px 10px;
  color: white;
  border: 1px solid rgb(190, 178, 184);
}
.header {
  margin: 0.5em;
  font-size: 1em;
  text-align: center;
}
.limit {
  width: 93%;
  display: flex;
  align-items: inherit;
  justify-content: flex-end;
}
.select {
  background-color: rgb(255, 35, 134);
  color: white;
  padding: 5px 10px;
}
